ul.header {
  background-color: #111;
  padding: 0;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header li a{
  color: #fff;
  font-weight: bold;
  text-decoration: bold;
  padding: 20px;
  display: inline-block;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationItem {
  background: #fff;
  border: 2px solid #666;
  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev, 
.next {
  background: #fff;
  border: none;
  padding: 10px;
  color: blue;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;
}

.paginationItem.active {
  border: 1px solid #888;
  color: #888;
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;

}

.errorMsg {
  max-width: 350px;
  color: #f21e08;
  padding: 2px 0;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 300;
}

Form {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.3);
  padding: 10px 50px 10px 50px;
  color: black;
  width: 50%;
  margin-left: 25%;
}

#likeIcon {
    cursor: pointer;
}

Label {
    color: black;
}

#form {
  text-align: left;
}

#form h3{
  text-align: center;
}

.form-control.input-error {
  border: 2px solid #f21e08;
}

.meme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  margin: 20px auto;
  padding: 15px 10px;
  background: #fff;
  border: #111 solid;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

small {
  border: 2px solid #777;
  border-radius: 7px;
  padding: 5px 12px;
  color: #777;
}